/* Header.css */

.Navbar {
    width: 95%;
    height: 80px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logo {
    color:blue;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .Navbar nav {
    margin-left: auto; /* Align navigation to the right */
  }
  
  .Navbar ul {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bolder;
  }
  
  .Navbar ul li {
    margin: 0;
    padding: 0;
    
  }
  
  .Navbar ul li a {
    
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .Navbar ul li a:hover {
    background-color: black;
    color: wheat;
    border-radius: 4px;
  }
  
  /* Optional: Style active link */
  .Navbar ul li a.active {
    background-color: black;
    color: black;
    border-radius: 4px;
  }
  